virtualenv
requests
python-dotenv
libcst
openai
numpy
scipy
pytest
pytest-reportlog
pytest-cov
transformers
sentence-transformers
pygments
crystalbleu
nltk
tiktoken
accelerate
bitsandbytes
huggingface_hub